{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GramGate.Create</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <script src="{% static 'js/create.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-lg-2">
                <div class="navigation fixed-left">
                    <img src="{% static 'images/logo.png' %}" class="logo">

                    <a href="{% url 'home' %}" class="btn btn-light"><img src="{% static 'images/home.png' %}" class="icons" style="margin-left: -80px;"> Home</a>
                    <a href="" class="btn btn-light"><img src="{% static 'images/search.png' %}" class="icons" style="margin-left: -80px;"> Search</a>
                    <a href="" class="btn btn-light"><img src="{% static 'images/explore.png' %}" class="icons" style="margin-left: -80px;"> Explore</a>
                    <a href="" class="btn btn-light"><img src="{% static 'images/reels.png' %}" class="icons" style="margin-left: -90px;"> Reels</a>
                    <a href="" class="btn btn-light"><img src="{% static 'images/message.png' %}" class="icons" style="margin-left: -60px;"> Messages</a>
                    <a href="" class="btn btn-light"><img src="{% static 'images/notification.png' %}" class="icons"> Notification</a>
                    <a href="{% url 'create' %}" class="btn btn-light active"><img src="{% static 'images/create.jpg' %}" class="icons" style="margin-left: -90px;"> Create</a>
                    <a href="{% url 'profile' %}" class="btn btn-light"><img src="{% static 'images/profile.png' %}" class="icons" style="margin-left: -90px;"> Profile</a>  
                </div>
            </div>

            <div class="col-xs-10 col-lg-10" id="container1">
                <img src="{% static 'images/logo.png' %}" class="image">
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1 class="tagline">Now Create Your Posts Right Here...</h1>
                    <input class="form-control" type="file" name="image" id="image">
                    <label id="image_error"></label>

                    <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
                    <label id="description_error"></label>
                
                    <button class="btn btn-dark" type="submit" onclick="return validation()">Enter</button>
                </form>
            
            </div>

        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>